ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.nav li{
    float: left;
}
ul.nav a{
    display: block;
    width: 7en;
    padding: 10px;
    margin: 0 5px;
    background-color: aquamarine;
    border: 1px #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}
ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}